:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --color-quote: hsl(244, 9%, 67%);
}

body {
  min-width: 100vh;
  background-image: url(../assets/images/pattern-bg.svg),
    url(../assets/images/pattern-quotes.svg),
    url(../assets/images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: 48px 45px, 340px 742px, 0 1240px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 100px;
}

@media screen and (min-width: 768px){
    body{
        background-position: 680px 45px, 260px 215px, 0 712px;     
    }
}

img {
  max-width: 100%;
}

.main {
  position: relative;
}

.container {
  text-align: center;
  max-height: 0;
  transition: transform 0.3s;
  transform: scale(0);
}

.container--active {
  transform: scale(1);
  transform-origin: left;
  max-height: max-content;
}

@media screen and (min-width: 768px) {
  .container--active {
    display: flex;
    flex-direction: row-reverse;
  }
}

.container-img {
  width: 100%;
  margin-bottom: 125px;
}

@media screen and (min-width: 768px) {
    .container-img{
        margin-bottom: 0;
        width: 54%;
    }
}

.container-img__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container__quote {
  color: var(--Dark-Blue);
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  padding: 25px 32px;
  margin-bottom: 30px;
}

.container__name {
  color: var(--Dark-Blue);
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
    .container-text{
        position: absolute;
        top: 175px;
        left: 90px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 520px;
    }
}

@media screen and (min-width: 768px) {
  .container__quote,
  .container__name {
    text-align: left;
  }

  .container__quote{
    padding: 0;
    margin-bottom: 45px;
    font-weight: 500;
  }

  .container__name{
      font-size: 1.2rem;
  }
}

.container__span {
  display: block;
  color: var(--Grayish-Blue);
}

@media screen and (min-width: 768px) {
    .container__span{
        display: inline-block;
        padding-left: 10px;
    }
}

.container-buttons__button {
  position: absolute;
  top: 500px;
  left: 235px;
  padding: 30px;
  background-color: #fff;
}

@media screen and (min-width: 768px){
    .container-buttons__button{
        left: 750px;
    }
}

.container-buttons__button:nth-child(1) {
  border-radius: 50% 0 0 50%;
  background-image: url(../assets/images/icon-prev.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.container-buttons__button:nth-child(2) {
  border-radius: 0 50% 50% 0;
  background-image: url(../assets/images/icon-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 285px;
}

@media screen and (min-width: 768px){
    .container-buttons__button:nth-child(2){
        left: 795px;
    }
}